version: '3'
services:
  cte_federated_aggregator:
    image: deltaml/federated-aggregator:latest
    ports:
       - "8080:8080"
    networks:
      - backend
  cte_data_owner:
    image: deltaml/data-owner:latest
    ports:
     - "5000-5004:5000"
    networks:
      - backend
    depends_on:
      - cte_federated_aggregator
  cte_model_buyer:
    image: deltaml/model-buyer:latest
    ports:
     - "9090:9090"
    networks:
      - backend
    volumes:
    - ./db_dir:/app/db
  cte_model_buyer_ui:
    image: deltaml/model-buyer-ui:latest
    ports:
     - "7070:5000"
    networks:
      - backend
networks:
  backend:
