version: '3'
services:
  cte_federated_aggregator:
    build:
      context: ../federated-aggregator
      dockerfile: Dockerfile
    image: "cte_federated_aggregator:local-latest"
    ports:
       - "8080:8080"
    networks:
      - backend
  cte_data_owner:
    build:
      context: ../data-owner
      dockerfile: Dockerfile
    image: "cte_data_owner:local-latest"
    ports:
     - "5000-5004:5000"
     - "4000-4004:4000"
    networks:
      - backend
    depends_on:
      - cte_federated_aggregator
  cte_model_buyer:
    build:
      context: ../model-buyer
      dockerfile: Dockerfile
    image: "cte_model_buyer:local-latest"
    ports:
     - "9090:9090"
    networks:
      - backend
    volumes:
    - ./db_dir:/app/db
  cte_model_buyer_ui:
    build:
      context: ../model-buyer-ui
      dockerfile: Dockerfile
    image: "cte_model_buyer_ui:local-latest"
    ports:
     - "7070:5000"
    networks:
      - backend
    depends_on:
      - cte_model_buyer
networks:
  backend:
